@use 'font';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-weight: 400;
  background-color: #1f2023;
  color: $light;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.title-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.6;
  text-transform: uppercase;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 71px;
  position: fixed;
  top: 0;
  z-index: 500;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 27px;
    background-color: $accent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
  }
  &__logo {
    background-color: $accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    &::before {
      content: "";
      width: 27px;
      height: 24px;
      background-image: url('../images/header-bottom-left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url('../images/header-left.svg');
      position: absolute;
      top: 0;
      right: -68px;
    }
  }
  &__link {
    color: $light;
    background-color: $accent;
    font-size: 20px;
    padding: 17px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url('../images/header-right.svg');
      position: absolute;
      top: 0;
      left: -68px;
    }
    &::after {
      content: "";
      width: 27px;
      height: 24px;
      background-image: url('../images/header-bottom-right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
  }
  .link-underline {
    color: $light;
    margin: 6px 0 0;
  }
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  display: flex;
  background-image: url('../images/bg-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  width: 100%;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;
  &__main {
    flex-basis: 61%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info {
    flex-basis: calc(39% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    z-index: 1;
    height: 151px;
    border: 1px solid $light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding: 45px 30px 30px;
    margin-right: 80px;
    transition: $tr;
    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
      .banner__decor {
        background-color: $accent;
        border-color: $accent;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    & + & {
      margin-top: 19px;
    }
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 151px;
      background-color: $accent;
      border: 1px solid $accent;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: -1px;
      right: 1px;
      z-index: -1;
      opacity: 0;
      // transform: translateX(50%) scale(0); // Вариант Анны Блок
      // transform: translate(50%, -50%) scale(0); // Мой вариант
      transform: scale(0);
      transform-origin: top right;
      transition: $tr;
    }
  }
  &__text {
    margin: 0;
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      // line-height: 110%;
      margin-top: 20px;
    }
  }
  &__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid $light;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: -80px;
    transition: $tr;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      right: 0;
      width: 80px;
      height: 151px;
      background-image: url('../images/banner-info-decor.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      right: 0;
      width: 80px;
      height: 151px;
      // transform: translate(-50%, 0) scale(0); // Вариант Анны Блок
      // transform: translate(-50%, -50%) scale(0); // Мой вариант
      transform: scale(0);
      transform-origin: top left;
      background-image: url('../images/banner-info-decor-primary.svg');
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      transition: $tr;
    }
  }
  &__title {
    font-size: 64px;
    line-height: 110%;
    max-width: 750px;
    margin-bottom: 10px;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: $accent;
    border: 1px solid $accent;
    border-radius: 20px;
    padding: 30px 0;
    cursor: pointer;
    
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $light;
    transition: $tr;
    
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 30px 332px 30px 30px;
  position: relative;
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }
  &__img {
    position: absolute;
    &._electroguitar {
      top: -68px;
      right: -20px;
    }
  }
}

.tag {
  display: flex;
  gap: 64px;
  margin-top: 150px;
  margin-bottom: 150px;
  animation: move-left 20s infinite linear alternate;
  &:hover {
    animation-play-state: paused;
  }
  &__text {
    margin: 0;
    border: 1px solid $grey;
    border-radius: 50px;
    padding: 10px 20px;

    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    color: $grey;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-color: $accent;
      border-radius: 50%;
    }
    &:last-child:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: -42px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-color: $accent;
      border-radius: 50%;
    }
  }
}

@keyframes move-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.course {
  display: flex;
  gap: 70px;
  &__title {
    flex-basis: 395px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px);
  }
}

.slider-teacher {
  &__item {
    background-color: $dark;
  }
}